
<ion-app>
    <ion-spilt-pane>
        <ion-menu side="start" content-id="main-content">

            <ion-header>
                <ion-toolbar translucent>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-item (click)="navigateToStock()">
                        <ion-icon name="albums-outline" slot="start"></ion-icon>
                        Stock
                    </ion-item>
                    <ion-item (click)="navigateTomenu()">
                        <ion-icon name="archive-outline" slot="start"></ion-icon>
                        <ion-label>Menu</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="fast-food-outline" slot="start"></ion-icon>
                        <ion-label>Kitchen</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
                        <ion-label>History sold</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
                        <ion-label>Staff information</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>

        </ion-menu>
    </ion-spilt-pane>



    <div class="ion-page">
        <ion-header>
            <ion-toolbar class="menu-btn">

                <ion-buttons slot="start" id="main-content">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>

                <ion-buttons slot="end">
                    <ion-icon name="cart-outline" style="zoom:2.0;"></ion-icon>
                </ion-buttons>

                <ion-title class="ion-text-center" *ngIf="data">Table : {{data}}</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <div [ngSwitch]="segmentModel">
                <ion-list *ngSwitchCase="'Drink'">

                    <ion-item *ngFor="let ingall of drinkList; let i = index">
                        <ion-label>
                            {{ingall.name}}
                        </ion-label>
                        <ion-label>{{ingall.price}} bath</ion-label><button ion-button clear (click)="decrementQty(i)">
                            <ion-icon name="remove"></ion-icon>
                        </button>{{orderList[i].qty}}
                        <div class="item-note" item-end>

                            <button ion-button clear (click)="incrementQty(i)">
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </div>

                        <div class="item-note" item-end></div>


                    </ion-item>
                </ion-list>
            </div>
            <!-- <ion-button expand="block" (click)="openMenu()">Open Menu</ion-button>-->
        </ion-content>


        <ion-footer>

            <ion-button class="btn" expand="block" size="large" color="warning" end (click)="Ordered()">Confirm Order : {{sum}} </ion-button>
            <ion-item>
                <ion-button expand="full" size="large" (click)="charge()" style="width:50%" class="btn-charge">
                    Charge : {{sum}}
                </ion-button>
                <ion-button expand="full" size="large" (click)="cancel()" style="width:50%" class="btn-cancel">cancel order</ion-button>
            </ion-item>
            <ion-toolbar class="menu-btn">


                <ion-segment value="all"
                             color="tertiary"
                             scrollable="true"
                             mode="ios"
                             [(ngModel)]="segmentModel">
                    <!--   (ionChange)="segmentChanged($event)"-->
                    <!--
                                                <ion-segment-button color="primary" value="Menu">
                                                    <ion-icon name="ellipsis-vertical"></ion-icon>
                                                </ion-segment-button>
                    -->
                    <ion-segment-button value="Food">
                        Food
                    </ion-segment-button>
                    <ion-segment-button value="Drink">
                        Drink
                    </ion-segment-button>
                    <ion-segment-button value="Dessert">
                        Dessert
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>
        </ion-footer>


    </div>


</ion-app>



