<ion-header>
    <ion-toolbar class="menu-btn">
        <ion-buttons slot="start" (click)="navigateToSalepage()">
            <ion-button>
                <ion-icon name="chevron-back" style="zoom:2.0;"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Ingredient</ion-title>

    </ion-toolbar>
    
</ion-header>

<ion-content class="ion-padding">

    <!-- <ion-grid>
          <ion-row>
              <ion-col text-center>
                  Welcome to Dashboard!
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col text-center>
                  Your Registered EmailID : userEmail

              </ion-col>
          </ion-row>
      </ion-grid>-->



    <div [ngSwitch]="segmentModel">
        <ion-list *ngSwitchCase="'Food'">

            <input type="text" [(ngModel)]="taskName" placeholder="Enter ingredient" />
            <input type="text" [(ngModel)]="weight" placeholder="Enter weight" />
            <button ion-button (click)="addfood()"><ion-icon name="add"></ion-icon></button>

            <ion-item *ngFor="let ingall of foodList; let i = index">
                <ion-label>
                    {{ingall.name}}
                </ion-label>
                <ion-label>{{ingall.power}} kg.</ion-label><button ion-button clear (click)="updatefood()">
                    <ion-icon name="create"></ion-icon>
                </button>&nbsp;
                <div class="item-note" item-end>

                    <button ion-button clear (click)="deletefood(ingall)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </div>

                <div class="item-note" item-end></div>


            </ion-item>
        </ion-list>
    </div>

    <div [ngSwitch]="segmentModel">
        <ion-list *ngSwitchCase="'Drink'">

            <input type="text" [(ngModel)]="taskName" placeholder="Enter ingredient" />
            <input type="text" [(ngModel)]="weight" placeholder="Enter weight" />
            <button ion-button (click)="adddrink()"><ion-icon name="add"></ion-icon></button>

            <ion-item *ngFor="let ingall of drinkList; let i = index">
                <ion-label>
                    {{ingall.name}}
                </ion-label>
                <ion-label>{{ingall.power}} unit.</ion-label><button ion-button clear (click)="updatedrink(i,ingall)">
                    <ion-icon name="create"></ion-icon>
                </button>&nbsp;
                <div class="item-note" item-end>

                    <button ion-button clear (click)="deletedrink(ingall)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </div>

                <div class="item-note" item-end></div>


            </ion-item>
        </ion-list>
    </div>

    <div [ngSwitch]="segmentModel">
        <ion-list *ngSwitchCase="'Dessert'">

            <input type="text" [(ngModel)]="taskName" placeholder="Enter ingredient" />
            <input type="text" [(ngModel)]="weight" placeholder="Enter weight" />
            <button ion-button (click)="adddessert()"><ion-icon name="add"></ion-icon></button>

            <ion-item *ngFor="let ingall of dessertList; let i = index">
                <ion-label>
                    {{ingall.name}}
                </ion-label>
                <ion-label>{{ingall.power}} qty.</ion-label><button ion-button clear (click)="updatedessert(i)">
                    <ion-icon name="create"></ion-icon>
                </button>&nbsp;
                <div class="item-note" item-end>

                    <button ion-button clear (click)="deletedessert(i)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </div>

                <div class="item-note" item-end></div>


            </ion-item>
        </ion-list>
    </div>
    


</ion-content>

<ion-footer>
    <ion-toolbar class="menu-btn">
   

        <ion-segment value="all"
                     color="tertiary"
                     scrollable="true"
                     mode="ios"
                     [(ngModel)]="segmentModel">
                  <!--  (ionChange)="segmentChanged($event)">-->

                <ion-segment-button color="primary" value="Menu">
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                </ion-segment-button>

        <ion-segment-button value="Food">
            Food
        </ion-segment-button>
        <ion-segment-button value="Drink">
            Drink
        </ion-segment-button>
        <ion-segment-button value="Dessert">
            Dessert
        </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>